<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/main.css">
    <title>Weather Report</title>
</head>
<body>
    <div class="center">
        <div class="main-div">
            <h1 class="city-name"><%= cityName %></h1>

            <div class="temp">
                <h2><%= tempCelcius %>°C</h2>
            </div>
            <div class="temp-stuff">
                <div class="icon-bg">
                    <img class="icon" src="<%= imgLink %>">
                </div>
                <p class="description imgDescription"><%= weatherDescription %></p>
            </div>
            <form action="/return" method="post">
                <button class="return button" type="submit">Return</button>
            </form>
        </div>
    </div>
    <script src="js/main.js" charset="utf-8"></script>
</body>
</html>